API_IDS=36140640|30735080|20084387
API_HASHES=hash1|hash2|hash3
STRING_SESSIONS=session_string_1|session_string_2|session_string_3
TARGET_BOTS=bot_username_1|bot_username_2|bot_username_3
SINGLE_RUN=true
