API_IDS=36140640|30735080|20084387
API_HASHES=your_api_hash_1|your_api_hash_2|your_api_hash_3
STRING_SESSIONS=session_string_1|session_string_2|session_string_3
TARGET_BOTS=bot_username_1|bot_username_2|bot_username_3
